[user]
email = fuse.kanrinin@gmail.com
name = koutarn

[color "diff"]
meta = 242 238
frag = 239 236
old = 167 normal
new = 030 normal
context = 240
commit = 246 024

[diff]
compactionHeuristic = true

[pager]
  log = bat
  show = bat
  diff = bat

[core]
attributesfile = ~/.gitattributes-global
excludesfile = ~/.gitignore-global
	editor = nvim
	quotepath = false
#true = チェックアウト時にLF⇛CRLF
#input = コミット時にCRLF⇛LF
#false 無効
#autocrlf = input

[color]
ui = auto

[commit]
	verbose = true
#template
# template = ~/.git-template
