[user]
	email = fuse.kanrinin@gmail.com
	name = koutarn

# ghq default settings
[ghq]
	root = ~/workspace/src

[includeIf "gitdir:~/workspace/src/github.com.job/"]
    path = ~/.gitconfig-job

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[color "diff"]
    meta = 242 238
    frag = 239 236
    old = 167 normal
    new = 030 normal
    context = 240
    commit = 246 024

[diff]
    compactionHeuristic = true
    colorMoved = default

[core]
    attributesfile = ~/.gitattributes-global
    excludesfile = ~/.gitignore-global
	editor = nvim
	quotepath = false
    pager = delta

	ignorecase = false
[color]
ui = auto

[commit]
	verbose = true
# template = ~/.git-template

[init]
    #defaultブランチをメインにする
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
